html { scroll-behavior: smooth; }
body { margin: 0; }
* { box-sizing: border-box; }
.hero {
  min-height: 690px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  background:
    linear-gradient(90deg, rgba(5,20,55,.92) 0%, rgba(8,34,80,.75) 55%, rgba(8,34,80,.38) 100%),
    url("https://images.unsplash.com/photo-1560969184-10fe8719e047?auto=format&fit=crop&w=2200&q=85") center/cover;
   /*https://t3.ftcdn.net/jpg/02/50/22/56/240_F_250225640_TfV5lZK3aUUTYz4O84OpUMz2LaPBuKOD.jpg*/
   /*https://images.unsplash.com/photo-1560969184-10fe8719e047?auto=format&fit=crop&w=2200&q=85*/
   /*/background.jpg*/
  }
.hero::after {
  content: "";
  position: absolute;
  width: 460px;
  height: 460px;
  right: -160px;
  bottom: -230px;
  border-radius: 50%;
  background: rgba(255,212,0,.22);
  filter: blur(8px);
}
@media (max-width: 700px) {
  .hero { min-height: 650px; }
}
